/* Smartphones (landscape) */
@media screen and (min-width: 568px) {
    .second-floor {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .comp {
        margin-top: 50px;
        max-width: 35%;
    }
    .comp > img {
        max-width: 100%;
        height: auto;
    }
    .written_cont {
        max-width: 50%;
    }
    .text {
        max-width: 284px;
        height: auto;
    }
    .text h1 {
        max-width: 284px;
        text-align: start;
        font-size: 30px;
        font-weight: 500;
    }
    .text p {
        max-width: 284px;
        color: #727272;
        text-align: start;
    }
    .write_me {
        background: #34547A;
        min-width: 225px;
        height: 65px;
        color: #FFFFFF;
        text-transform: uppercase;
        line-height: 65px;
    }
    .btn_write_me {
        display: block;
        margin: 0;
        justify-content: start;
        padding: 0;
        border: none;
    }
    /* 40+ проекто */
    .project_img:nth-child(n+2) {
        margin-left: 20px;
    }
    /* секция с картинками */
    .project_block {
        max-width: 100%;
        height: auto;
        background: white;
    }
    /* часть майкрософт */
    .microsoft {
        max-width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        background: white;
    }
    .ms_picture {
        max-width: 45%;
        max-height: 120px;
    }
    .ms_picture:nth-child(n+4) {
        display: initial;
    }
    /* формы */
    form {
        margin-top: 30px;
    }
    .inputs {
        margin: 0 auto;
        max-width: 70%;;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .textarea {
        width: 70%;
        display: flex;
        margin: 0 auto;
        /* justify-content: center; */
        margin-top: 10px;
    }
}
/* tablet portrait landscape */
@media screen and (min-width: 1024px) {
    .comp {
        margin-top: 50px;
        max-width: 35%;
    }
    .comp > img {
        max-width: 100%;
        height: auto;
    }
    .written_cont {
        max-width: 50%;
    }
    .text {
        max-width: 100%;
        height: auto;
    }
    .text h1 {
        max-width: 100%;
        text-align: start;
        font-size: 30px;
        font-weight: 500;
    }
    .text p {
        margin-top: 40px;
        max-width: 75%;
        color: #727272;
        text-align: start;
    }
    .write_me {
        margin-top: 27px;
        background: #34547A;
        min-width: 225px;
        height: 65px;
        color: #FFFFFF;
        text-transform: uppercase;
        line-height: 65px;
    }
    .btn_write_me {
        display: block;
        margin: 0;
        justify-content: start;
        padding: 0;
        border: none;
    }
    /* мои навыки */
    .skills {
        max-width: 100%;
        height: auto;
        background: white;
        /* margin: 50px auto; */
        display: flex;
        flex-direction: row;
    }
    .skills_block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        width: 50%;
        height: auto;
    }
    .skills_block > h2 {
        text-align: left;
    }
    .photoshop {
        max-width: 100%;
        height: 5px;
        background: #C4C4C4;
    }
    .inside-line {
        width: 75%;
        height: 5px;
        background: #34547A;
    }
    .man {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .man img {
        max-width: 50%;
        height: auto;
    }
    /* часть майкрософт */
    .ms_picture:nth-child(n+3) {
        display: initial;
    }
    /* футер */
    footer {
        margin-top: 10px;
        width: 100%;
        height: auto;
        background: #34547A;
    }
    .foot_block {
        max-width: 70%;
        background-color: 34547A;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .name_rigths > h3 {
        color: white;
    }
    .name_rigths > p {
        color: white;
        font-size: 13px;
    }
    .icon_vk {
        display: flex;
        align-items: center;
    }
    .inside_vk:nth-child(n+2) {
        display: initial;
    }
    .inside_vk:nth-last-child(n+1) {
        margin-left: 20px;
    }
    /* DESKTOP */
    @media screen and (min-width: 1200px) {
        * {
            box-sizing: border-box;
        }
        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }
        body {
            padding: 0;
            margin: 0;
            font-family: 'Roboto';
        }
        /* header */
        header {
            min-width: 100%;
            height: auto;
            background: #EEEFF1;
            padding-bottom: 75px;
        }
        .menu {
            max-width: 70%;
            margin: 0 auto;
            height: auto;
            background: #EEEFF1;
            display: flex;
            justify-content: space-between;
        }
        .logo {
            font-family: 'Revalia';
            font-size: 48px;
            font-weight: 400;
            line-height: 60px;
            color: #34547A;
        }
        .list {
            display: flex;
            list-style: none;
            font-weight: 400;
            line-height: 26px;
            font-size: 16px;
            text-transform: uppercase;
            position: absolute;
            right: 200px;
        }
        .list a {
            text-decoration: none;
            color: black;
        }
        .item {
            padding-right: 20px;
        }
        .item:first-child a {
            color: #34547A;
            font-weight: 500;
        }
        .item a:hover {
            color: red;
            transition: .3s ease-in;
        }
        #menu_toggle {
            position: relative;
            width: 20px;
            height: 20px;
            top: 20px;
            right: -30px;
            visibility: hidden;
            display: none;
        }
        .menu_btn {
            display: flex;
            align-items: center;  
            position: relative;
            width: 20px;
            height: 20px;
            top: 23px;
            right: -30px;
            display: none;
        }
        .menu_btn > span, 
        .menu_btn > span::before,
        .menu_btn > span::after {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #34547A;
            display: none;
        }     
        .second-floor {
            display: flex;
            /* justify-content: space-around; */
           margin-right: 10px;
        }
        .comp {
            margin-top: 270px;
        }
        .written_cont {
            margin-top: 180px;
        }
        .text { 
            text-align: left;
        }
        .text h1 {
            font-size: 48px;
            font-weight: 500;
        }
        .text p {
            max-width: 540px;
            color: #727272;
            margin-top: 60px;
        }
        .write_me {
            background: #34547A;
            width: 225px;
            height: 65px;
            color: #FFFFFF;
            text-transform: uppercase;
            text-align: center;
            vertical-align: middle;
            line-height: 65px;
            margin-top: 70px;
        }
        .btn_write_me {
            padding: 0;
            border: none;
        }
        /* обо мне */
        .about {
            max-width: 100%;
            height: auto;
            background: white;
            padding-top: 100px;
            padding-bottom: 120px;
        }
        .about_me {
            width: 35%;
            margin: 0 auto;
            text-align: center;
        }
        .about_me > h2 {
            font-weight: 500;
            font-size: 32px;
        }
        .about_me > p {
            color: #727272;
        }
        /* 40+ проектов */
        .blue {
            background: #34547A;
            max-width: 100%;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .projects {
            width: 60%;
            height: auto;
            margin: 0 auto;
            background-color: #34547A;
            display: flex;
            justify-content: center;
        }
        .project_img {
            display: flex;
            align-items: center;
        }
        .project_img:nth-child(n+2) {
            margin-left: 25px;
        }
        .img_desription {
            display: flex;
            flex-direction: column;
            margin-left: 15px;
        }
        .img_desription > h3 {
            margin: 0;
            margin-bottom: 5px;
            color: white;
            font-size: 21px;
            font-weight: 500;
        }
        .img_desription > p {
            margin: 0;
            color: white;
        }
        /* мои навыки */
        .third_screen {
            max-width: 100%;
            height: auto;
            background: white;
        }
        .skills {
            max-width: 100%;
            height: auto;
            background: white;
            /* margin: 102px auto; */
            display: flex;
            justify-content: space-around;
        }
        .skills_block {
            width: 50%;
            height: auto;
        }
        .skills_block > h2 {
            font-size: 32px;
            font-weight: 500;
        }
        .skills_block > p {
            color: #727272;
        }
        .photoshop {
            max-width: 445px;
            height: 5px;
            background: #C4C4C4;
        }
        .inside-line {
            max-width: 349px;
            height: 5px;
            background: #34547A;
        }
        .man  img {
            max-width: 555px;
            height: 450px;
        }
        /* секция с видео */
        .work {
            max-width: 100%;
            height:auto;
            background: #EEEFF1;
        }
        .about_work {
            max-width: 540px;
            height: auto;
            margin: 0 auto;
            text-align: center;
            padding-top: 100px;
        }
        .lorem {
            margin-left: 20px;
        }
        .about_work > p {
            margin-top: 50px;
            color: #727272;
        }
        .video {
            display: flex;
            justify-content: center;
        }
        video {
            margin-top: 60px;
            max-width: 1190px;
            max-height: 600px;
        }
        /* секция с картинками */
        .project_block {
            max-width: 1920px;
            height: auto;
            background: white;
        }
        .pictures {
            margin-top: 28px;
            max-width: 1920px;
            height: auto;
            display: flex;
            flex-wrap: wrap;
        }
        .img_1,
        .img_2 {
            max-width: 337.25px;
            max-height: 337.25px;
        }
        .img_1 > img,
        .img_2 > img {
            max-width: 337.25px;
            max-height: 337.25px;
        }
        /* часть майкрософт */
        .microsoft {
            max-width: 1200px;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            background: white;
        }
        .ms_picture {
            margin-top: 72px;
            margin-bottom: 81px;
            max-width: 250px;
            max-height: 120px;
        }
        .ms_picture:nth-child(n+2) {
            padding-left: 30px;
        }
        .ms_picture:nth-child(n+1) {
            display: initial;
        }
        /* перед формами */
        .last {
            max-width: 100%;
            height: auto;
            background: #EEEFF1;
            padding-top: 119px;
            padding-bottom: 81px;
        }
        .last_text {
            margin: 0 auto;
            max-width: 525px;
            height: auto;
            text-align: center;
        }
        .last_text > p {
            margin-top: 50px;
            color: #727272;
        }
        /* формы */
        form {
            margin-top: 65px;
        }
        .inputs {
            margin: 0 auto;
            max-width: 560px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .input_name,
        .input_mail {
            box-sizing: border-box;
            width: 255px;
            height: auto;
            background: white;
        }
        input {
            width: 100%;
            height: 50px;
            border: 0;
            padding: 17px 0 18px 20px;
        }
        input::placeholder,
        textarea::placeholder {
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 400;
            color: #5F5D5D;
        }
        .textarea {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        textarea {
            width: 540px;
            height: 175px;
            border: 0;
            resize: none;
            padding: 17px 0 0 20px;
        }
        .last_btn {
            display: block;
            width: 190px;
            height: 55px;
            background: #34547A;
            border: 0;
            margin: 50px auto 0 auto ;
        
        }
        .send {
            color: #FFFFFF;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        /* футер */
        footer {
            margin-top: 10px;
            width: 100%;
            height: auto;
            background: #34547A;
        }
        .foot_block {
            max-width: 70%;
            background-color: 34547A;
            height: auto;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        .name_rigths > h3 {
            color: white;
        }
        .name_rigths > p {
            color: white;
            font-size: 13px;
        }
        .icon_vk {
            display: flex;
            align-items: center;
        }
        .inside_vk:nth-last-child(n+1) {
            margin-left: 20px;
        }
    }
}
